 .u-section-1 {
  background-image: url("images/male-female-business-people-working-tablet-office.jpg");
  background-position: 50% 36.24%;
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-group-1 {
  width: 488px;
  min-height: 454px;
  height: auto;
  margin: 165px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 31px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  margin: 31px auto 0 0;
  padding: 21px 59px 22px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 36.24%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 13.78% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 246px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: -279px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 126px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-image-1 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-2 .u-image-2 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-2 .u-image-3 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 40px;
}

.u-section-2 .u-image-4 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-2 .u-image-5 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 40px;
}

.u-section-2 .u-image-6 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-2 .u-image-7 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 40px;
}

.u-section-2 .u-image-8 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-2 .u-image-9 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-2 .u-image-10 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-2 .u-image-11 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 40px;
}

.u-section-2 .u-image-12 {
  height: 43px;
  width: 176px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 186px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 824px;
}

.u-section-3 .u-list-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 706px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-1 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-1 {
  margin: 14px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-2 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-3 .u-text-4 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-3 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-4 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-3 .u-text-8 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-5 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-3 .u-text-10 {
  line-height: 1.64;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px 30px 27px;
}

.u-section-3 .u-icon-6 {
  width: 77px;
  height: 77px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 20px;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 400;
  margin: 14px 0 0;
}

.u-section-3 .u-text-12 {
  line-height: 1.64;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 581px;
  }

  .u-section-3 .u-text-3 {
    line-height: 28.8px;
  }

  .u-section-3 .u-text-5 {
    line-height: 28.8px;
  }

  .u-section-3 .u-text-7 {
    line-height: 28.8px;
  }

  .u-section-3 .u-text-9 {
    line-height: 28.8px;
  }

  .u-section-3 .u-text-11 {
    line-height: 28.8px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1032px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 779px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 312px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 14px 31px 16px 29px;
}

.u-section-4 .u-image-1 {
  min-height: 312px;
  background-image: url("images/woman-sitting-desk-checking-reports-talking.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 312px;
  background-image: url("images/fashionable-young-redhead-woman-with-braid-tattoo-shoulder-having-rest-indoors.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 312px;
  background-image: url("images/business-sucessful-businessman-working-with-laptop-using-computer-smiling-standing.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 312px;
  background-image: url("images/group-people-working-out-business-plan-office.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 312px;
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 35px auto 0 0;
  padding: 14px 31px 16px 29px;
}

.u-section-4 .u-text-5 {
  margin: 28px auto 59px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-4 .u-image-1 {
    min-height: 257px;
  }

  .u-section-4 .u-image-2 {
    min-height: 257px;
  }

  .u-section-4 .u-image-3 {
    min-height: 257px;
  }

  .u-section-4 .u-image-4 {
    min-height: 257px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 257px;
  }

  .u-section-4 .u-text-5 {
    margin-bottom: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    min-height: 197px;
  }

  .u-section-4 .u-image-2 {
    min-height: 197px;
  }

  .u-section-4 .u-image-3 {
    min-height: 197px;
  }

  .u-section-4 .u-image-4 {
    min-height: 197px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2992px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 61px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2165px;
  }

  .u-section-4 .u-image-1 {
    min-height: 372px;
  }

  .u-section-4 .u-image-2 {
    min-height: 372px;
  }

  .u-section-4 .u-image-3 {
    min-height: 372px;
  }

  .u-section-4 .u-image-4 {
    min-height: 372px;
  }

  .u-section-4 .u-text-5 {
    margin-bottom: 56px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 623px;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 623px;
  grid-gap: 0px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-photo-5012108.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 42px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-photo-3206143.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 42px auto 0;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

.u-section-5 .u-icon-6 {
  height: 100%;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/pexels-photo-5999980.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-5 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 42px auto 0;
}

.u-section-5 .u-icon-7 {
  height: 100%;
}

.u-section-5 .u-icon-8 {
  height: 100%;
}

.u-section-5 .u-icon-9 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 514px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -109px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 514px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1181px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1484px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-5 .u-image-2 {
    background-position: 50% 28.23%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 51px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1484px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 25px;
    padding-left: 25px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 25px;
    padding-left: 25px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 591px;
}

.u-section-6 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 472px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 17px 31px 17px 29px;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 17px 31px 17px 29px;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 22px 0 0;
}

.u-section-6 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 17px 31px 17px 29px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 921px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 609px;
}

.u-section-7 .u-tabs-1 {
  min-height: 408px;
  margin: 60px auto;
}

.u-section-7 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-7 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  letter-spacing: 0px;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/pexels-christina-morillo-1181678.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 306px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 306px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  line-height: 1.8;
  margin: -30px 0 -15px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: -15px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 20px auto -15px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 251px;
}

.u-section-8 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 13px;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 13px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 13px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
  padding: 13px;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-8 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 422px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 7px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 7px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 7px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-9 {
  background-image: none;
  min-height: 764px;
}

.u-section-9 .u-gallery-1 {
  height: 764px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 0px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 630px;
  }

  .u-section-9 .u-gallery-1 {
    height: 630px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 1930px;
  }

  .u-section-9 .u-gallery-1 {
    height: 1930px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-9 {
    min-height: 5790px;
  }

  .u-section-9 .u-gallery-1 {
    height: 5790px;
  }

  .u-section-9 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 3646px;
  }

  .u-section-9 .u-gallery-1 {
    height: 3646px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 646px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 178px 0 0;
}

.u-section-10 .u-group-1 {
  min-height: 260px;
  height: auto;
  width: 393px;
  margin: 20px auto 0 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 526px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
  background-image: none;
}

.u-section-10 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 556px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-group-1 {
    width: 300px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 492px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
  }

  .u-section-10 .u-group-1 {
    width: 449px;
    margin-right: 71px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-group-1 {
    width: 320px;
    margin-right: auto;
  }
}